################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################


/SimpleImageSlideShow/obj
/.vs
/SimpleImageSlideShow/bin
/SimpleImageSlideShow.Tests/obj
/SimpleImageSlideShow.Tests/bin
/installer/publish/
/installer/artifacts/
/._.gitignore
*.bkp
*.drawio
/installer/AppVersion.ispp
/._relaygraph/
