@page "/"

<div class="slideshow-container">
@if (this.ImageEntities.Count > 0)
{
    @foreach (var imageEntity in this.ImageEntities)
    {
        <div class="slide @imageEntity.CssClass" style="animation-duration:@($"{DelaySeconds}s")">
            <img src="@imageEntity.ImageUrl" alt="Image" class="img-fluid" />
        </div>
    }
}
</div>
